@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

body {
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
    background-color:rgb(2, 0, 27);
    background: url("../project-1-game/Image/Render\ 2.jpg");
    background-size: cover;
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 55vh;

}

.container {
    
    width: 700px;
    max-width: 80%;
    padding: 20px;
    background-color: rgba(39, 1, 1, 0.8);
    border-color: black;
    border-radius: 6px;
    box-shadow: 0 0 20px 4px black;
}

#choice-btns {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-top: 15px;
    gap: 20px;
}

.button {
    height: 60px;
    font-size: 25px;
    background-color: rgb(0, 22, 56);
    color: white;
    border: 3px solid black;
    border-radius: 7px;
    box-shadow: 0 0 20px 4px black;
    cursor: pointer;
    transition: 100ms;
}

.button:hover {
    border: 3px solid rgb(255, 196, 196);
    transform: scale(1.2);
}