@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Carrois+Gothic+SC&display=swap');

body {
    
    background-color:rgb(0, 0, 0);
    background: url("https://i.imgur.com/AooYHUh.jpg");
    background-size: cover;
    font-family: 'Baloo 2', cursive;
    color: white;
    /* padding: 0;
    margin: 0; */
    /* display: flex;
    justify-content: space-around;
    align-items:center; */
    
}

.container {
    position: relative;
    top: 130px;
    left: 200px;
    /* margin: 130px; */
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
    width: 700px;
    max-width: 80%;
    padding: 20px;
    /* background-color: rgba(39, 1, 1, 0.8); */
    background-image: url("./project-1-game/Image/darkbackground.png");
    border: 1px solid rgb(54, 19, 19);
    border-radius: 6px;
    box-shadow: 0 0 10px 4px rgb(0, 0, 0);
    
    /* z-index: 1; */
    /* width: 50vw;
    height: 25vh; */

}



#text {
    border: 2px solid rgb(92, 54, 54);
    border-radius: 7px;
    padding: 30px;
}

#backpack {
    margin: 10px;
    position: absolute;
    bottom: 70px;
    right: 100px;
    color: rgb(255, 248, 151);
    background-color: black;
    background-image: url("./project-1-game/Image/backpack\ texture.jpeg");
    border: 3px solid rgba(165, 108, 79, 0.6);
    border-radius: 30px;
    padding: 5px;
    min-width: 100px;
    max-width: 200px;
    min-height: 30px;
    box-shadow: 0 0 10px 4px rgb(0, 0, 0);

}

#inventory {
    color: white;
    border: 1px solid white;
    border-radius: 13px;
    
}

#choice-btns {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-top: 15px;
    gap: 20px;
}

.button {
    height: 60px;
    font-size: 20px;
    background-color: rgb(0, 22, 56);
    background-image: url("./project-1-game/Image/button\ texture.jpeg");
    color: white;
    
    border: 3px solid rgb(92, 54, 54);
    border-radius: 7px;
    box-shadow: 0 0 20px 4px black;
    cursor: pointer;
    transition: 100ms;
}

.button:hover {
    border: 3px solid rgb(161, 35, 35);
    transform: scale(1.2);
    
}

#end-message {
    position: absolute;
    font-size: 70px;
    top: 200px;
    padding: 20px;
    font-family: 'Carrois Gothic SC', sans-serif;
    width:fit-content;
    position: absolute;
    z-index: 2;
    color: rgb(173, 0, 0);
    background:rgba(7, 0, 0, 0.8);
    display: flex;
    border: 10px solid rgb(102, 0, 0);
    border-radius: 20px;
    
    
}

#win-message {
    position: absolute;
    top: 100px;
    padding: 20px;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 57px;
    width:fit-content;
    position: absolute;
    z-index: 2;
    color: rgb(0, 173, 158);
    background:rgba(7, 0, 0, 0.8);
    border: 4px solid rgb(0, 173, 158);
    border-radius: 20px;
    display: flex;

h1 {
    font-size: 70px;
    text-align: center;
}
#restart-button {
    text-align: right;
    

}